
input, button { 
    appearance: none;
    background: none;
    border: none;
    outline: none;
  }
  
   .Edit2{
    height:130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
  }
  
  form{
    display: block;
    position: relative;
  }
  
   form:after{
    content: '';
    display: block;
    position: absolute;
    
    
  }
  form .form-inner{
    position: relative;
    display: block;
    background-color: rgb(248, 248, 248);
    padding: 30px;
    z-index: 2;
    border-style: solid;
    border-width: 5px;
    border-color: #005424;
    
  }
  
  form .form-inner h2{
    color: rgb(105, 105, 105);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
  }
    
  form .form-inner .form-group{
    display: block;
    width: 300px;
    margin-bottom: 15px;
  }
  
  .form-inner .form-group label{
    display: block;
    color: #666;
    font-size: 12px;
    transition:0.4s;
    margin-bottom: 5px;
  }
  .form-inner .form-group:focus-within label{
    color:#03cc82;
  }
  
  form .form-inner .form-group input{
    display:block;
    width:100%;
    padding: 10px 5px;
    background-color: #ececec;
    border-radius: 8px;
    transition: 0.4s;
  }
  
  form .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  }
  
  form .form-inner input[type = "submit"]{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #03c07b 50%, #03c07b 50%, #087944);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
  }
  
  form .form-inner input[type = "submit"]:hover{
    background-position: 100%
  }
  
    
  